<section class="hero--split-image-grid block" aria-labelledby="hero-heading">
    <div class="wrapper-lg columns">
        <div class="hero__content col">
          <div class="accent-line wrapper-sm flow">
            <h1 id="hero-heading">{{ .heading }}</h1>
            <div class="flow">{{ .body }}</div>
            <a class="btn btn--primary" href="/schedule-demo/">Schedule a Demo</a>
          </div>
        </div>
        <div class="hero__image-grid col">
          <img class="hero__image-grid-1" src="https://source.unsplash.com/random/800x800?trees" alt="" width="1800" height="600">
          <img class="hero__image-grid-2" src="https://source.unsplash.com/random/800x800?analytics" alt="" width="1800" height="600">
          <img class="hero__image-grid-3" src="https://source.unsplash.com/random/800x800?grass" alt="" width="1800" height="600">
        </div>
    </div>
</section>