a {
  color: $primary-color;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    color: $secondary-color;
    outline-color: $secondary-color;
  }
}

.site-main a:not(.btn, .breadcrumbs a, .social__icon, .category-list a, .card__categories, .pagination__numbers, .back, .categories, .post-navigation__link, .share-buttons__link) {
  color: $primary-color;
  text-decoration: none;
  background-image: linear-gradient($secondary-color, $secondary-color),linear-gradient(270deg,$primary-color 0%,$primary-color 100%);
  background-size: 100% 2px,0 2px;
  background-position: 100% 100%,0 100%;
  background-repeat: no-repeat;
  transition: background-size $transition,background-position $transition,color $transition;

  &:hover,
  &:focus {
    background-size: 0 2px,100% 2px;
    background-position: 100% 100%,0 100%;
    text-decoration: none;
  }
}

.no-decoration {
  text-decoration: none;
}

