{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
<section class="block">
  <div class="wrapper-lg flex flex-justify-between">
    {{ partial "blog/category-filter" . }}
    {{ partial "blog/layout-toggle" . }}
  </div>
  <ul class="blog--list wrapper-lg gap-md">
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
    {{ range $paginator.Pages }}
        {{ .Render "blog-card" }}
    {{ end }}
  </ul>
  {{ partial "blog/custom-pagination.html" . }}
</section>
{{ end }}
