{{ define "main" }}
{{ partial "blog/blog-hero" . }}
{{ partial "breadcrumbs" . }}
<section aria-label="Blog Post Content Body" class="block">
    <div class="post-content wrapper-sm flex flex-column-reverse flex-row-md">
        <div class="w-100 w-20-m">
            {{ partial "blog/share-buttons" . }}
        </div>
        <div class="w-100 w-80-m">
            <article class="flow">
                {{ .Content  }}
            </article>
        </div>
    </div>
</section>
{{ partial "blog/post-navigation" . }}
{{ end }}