.accent-line {
    position: relative;

}

.accent-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 3px;
    background: linear-gradient($secondary-color 0%, $primary-color 100%);
}