.accent-line {
    position: relative;

}

.accent-line::before,
.accent-line::after {
    content: "";
    position: absolute;
}

.accent-line::before {
    top: 0;
    left: -10px;
    height: 100%;
    width: 3px;
    background-image: linear-gradient($secondary-color 0%, $primary-color 100%);
}

.accent-line::after {
    bottom: 0;
    left: -10px;
    transform: translateX(-7px);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $primary-color;
}