.blog--list {
    display: grid;
    grid-template-columns: 1fr;
}

.blog--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100%/4 + 0.1%, 400px, 100%), 1fr));

    .columns-two-thirds-right {
        flex-wrap: wrap;
    }

    .card .col {
        flex-basis: 100%;
    }
}