.hero--blog {
  overflow: visible;

  h1 {
    font-size: clamp($ic-300, 4vw, $ic-600);
  }

  .post-featured-image {
    img {
      height: 275px;

      @include breakpoint(md) {
        height: 400px;
      }
    }
  }
}

.back {
  background-image: none;

  &:hover, 
  &:focus {
    svg {
      animation: animate-arrow 1s infinite;
    }
  }
}

@keyframes animate-arrow {
  0%, 100% {
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.reading-time {
  gap: .5rem;
}

.post-content {
  picture {
    display: block;
  }
}