.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: $secondary-font;
  font-size: $ic--200;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: $ic-100 $ic-400;
  text-decoration: none;
  transition: $transition;
  width: max-content;

  @include breakpoint(sm) {
    font-size: $ic--100;
  }

  &:hover,
  &:focus {
    transition: $transition;
  }
}

.btn--primary {
  color: $white;
  background-color: $primary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color;
  }
}

.btn--secondary {
  color: $white;
  background-color: $secondary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
  }
}

button {
  cursor: pointer;
}

.btn--filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: $ic-100 0;
  transition: $transition;
  margin: 5rem 0 $ic--200 0;

  svg {
    fill: $primary-color;
    width: $ic-400;
    height: $ic-400;
    margin-right: $ic-400;
    position: relative;
    top: -1px;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }

  @include breakpoint(sm) {
    margin: 0;
  }
}

.btn--category {
  padding: 0.5rem;
}

.btn--layout-toggle {
  background: none;
  border: none;
  width: $ic-600;
  height: $ic-600;
  padding: .8rem;
  transition: .3s ease-in-out;

  svg {
    fill: $black;
  }
}

.btn--active {
  opacity: .8;
  transform: scale(.8);
}