.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: $secondary-font;
  font-size: $ic--200;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: $ic-100 $ic-400;
  text-decoration: none;
  transition: $transition;
  width: max-content;
  border-radius: $radius;

  @include breakpoint(sm) {
    font-size: $ic--100;
  }

  &:hover,
  &:focus {
    transition: $transition;
  }
}

.btn--primary {
  color: $black;
  // background-color: $primary-color;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(to right,$primary-color 0%,$secondary-color 15%,$secondary-color 85%,$primary-color 100%);
    background-size: 300% 100%;
    border-radius: $radius;
    transition: $transition;
  }

  &:hover,
  &:focus {
    // color: $white;
    // background-color: $secondary-color;

    &::before {
      background-position: 100% 0;
    }
  }
}

.btn--secondary {
  color: $white;
  background-color: $secondary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
  }
}

button {
  cursor: pointer;
}

.btn--filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  transition: $transition;

  svg {
    fill: $primary-color;
    width: $ic-400;
    height: $ic-400;
    margin-right: $ic-400;
    position: relative;
    top: -1px;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }

  @include breakpoint(sm) {
    margin: 0;
  }
}

.btn--category {
  padding: 0.5rem;
}