.card {
  list-style-type: none;
  border-bottom: 1px solid $primary-color;
  max-width: none;
  padding-block: $ic-100;
  margin-block-start: 0;

  article {
    max-width: none;
  }
}

.card__meta {
  position: absolute;
  top: 0;
  left: 0;
}

.card__img {
  block-size: 250px;
  inline-size: 100%;
  object-fit: cover;
}