.hero--split-image-grid .hero__content {
  margin: auto 0;
}

.hero--split-image-grid .hero__image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
}

.hero--split-image-grid .hero__image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero--split-image-grid .hero__image-grid-1 {
  grid-area: 1 / 1 / 4 / 3;
  height: 80% !important;
  margin-block: auto;
}

.hero--split-image-grid .hero__image-grid-2 {
  grid-area: 1 / 3 / 2 / 4;
}

.hero--split-image-grid .hero__image-grid-3 {
  grid-area: 2 / 3 / 4 / 4;
}

.hero--split-image-grid .hero__image-grid svg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.hero--simple .hero__image {
  position: relative;
}

.hero--simple .hero__image img {
  position: relative;
  z-index: 2;
  aspect-ratio: 4/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero--simple .hero__image svg {
  position: absolute;
  top: 50px;
  right: -50px;
  width: auto;
  height: 100%;
  z-index: 1;
}