.hero .hero__image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
}

.hero .hero__image-grid img:not(.background-circles){
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero__image-grid-1 {
  grid-area: 1 / 1 / 4 / 3;
  height: 80% !important;
  margin-block: auto;
}

.hero .hero__image-grid-2 {
  grid-area: 1 / 3 / 2 / 4;
}

.hero .hero__image-grid-3 {
  grid-area: 2 / 3 / 4 / 4;
}

.hero--simple .hero__image {
  position: relative;
}

.hero--simple .hero__image img:not(.background-circles) {
  position: relative;
  z-index: 2;
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}