.post-navigation {
  padding: $ic-300 0 $ic-300 0;
}

.post-navigation a {
  background-image: none;
}

.post-navigation__next {
  margin-left: $ic-200;

  &:hover,
  &:focus {
    svg {
      transform: translateX(5px);
    }
  }
}

.post-navigation__prev {
  margin-right: $ic-200;

  &:hover,
  &:focus {
    svg {
      transform: translateX(-5px);
    }
  }
}

.post-navigation svg {
  transition: $transition;
}
