<li class="card p-relative">
    {{ if .Params.Categories }}
	<div class="card__meta">
		{{ range (.GetTerms "categories") }}
			<a href="{{ .Permalink }}" class="btn btn--primary btn--category" aria-label="View all {{ .LinkTitle }} posts">{{ .LinkTitle }}</a>
		{{ end }}
	</div>
	{{ end }}
    <article class="columns-two-thirds-right gap-sm">
        <div class="col">
            <div class="card__image-wrap">
                <a href="{{ .Permalink }}" class="card__link">
                {{ if .Params.seo.featured_image }}
                    <img src="{{ .Params.seo.featured_image }}" alt="" class="card__img dim">
                {{ else }}
                    <img src="https://source.unsplash.com/random/800x600?space" alt="" class="card__img dim">
                {{  end }}
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card__content">
                <h3 class="card__title g4"><a href="{{ .Permalink }}" class="card__link">{{ .Title }}</a></h3>
                <p class="card__summary">
                {{ if .Params.summary }}{{ .Params.summary | safeHTML }}{{ else }}{{ .Summary  | safeHTML }}{{ end }}
                </p>
            </div>
        </div>
    </article>
</li>