// .footer {
//   background-color: $black;
//   color: $white;
// }

.footer a {
  color: $primary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__logo {
  display: block;
  max-width: 200px;
}

.footer__nav-item {
  list-style-type: none;
  margin-top: 0;
}

.footer__social-list {
  margin: 0;
  padding: 0;
}

.footer__social-item {
  list-style-type: none;
  margin: 0;
  padding-inline-end: $ic-200;
}

.footer__copyright {
  font-size: $ic--100;
  padding: $ic-100 0;

  @include breakpoint(md)  {
    .footer__credits {
      margin-left: auto;
    }
  }
}

.footer__nav,
.footer__copyright-nav {
  margin: 0;
  padding: 0;
}

.footer__copyright-item {
  list-style-type: none;
  margin: $ic-100;

  @include breakpoint(md)  {
    margin: 0 0 0 $ic--100;
  }
}


.footer .contact-form input {
  margin-bottom: 0;
  height: $ic-600;
}