@include breakpoint (md) {
  .parent-page-blog,
  .parent-page-blog .site-wrap {
    overflow-x: initial;
  }
}

.post {
  picture {
    display: block;
  }
}

.post__body p + h2,
.post__body p + h3,
.post__body ul + h2,
.post__body ul + h3,
.post__body ol + h2,
.post__body ol + h3 {
  margin-top: $ic-600;
}