{{ $ctaClass := lower .Page.Title }}
<div class="cta {{ anchorize $ctaClass }}-cta">
  {{ $ctaimage := (.Resources.GetMatch (index .Params.cta.cta_image)) }}

  {{ $webp_src_set := ""}}
  {{ $jpg_src_set := ""}}

  {{ $jpg_xxl := $ctaimage.Resize "1800x q80" }}
  {{ $jpg_xl := $jpg_xxl.Resize "1400x q80" }}
  {{ $jpg_l := $jpg_xl.Resize "1000x q80" }}
  {{ $jpg_m := $jpg_l.Resize "800x q80" }}
  {{ $jpg_s := $jpg_l.Fill "600x600 q80" }}

  {{ $jpg_src_set = (print $jpg_s.RelPermalink " 600w" ", " $jpg_m.RelPermalink " 800w" ", "  $jpg_l.RelPermalink " 1000w" ", "  $jpg_xl.RelPermalink " 1400w" ", "  $jpg_xxl.RelPermalink " 1800w") }}

  {{ $webp_xxl := $ctaimage.Resize "1800x q80 webp" }}
  {{ $webp_xl := $webp_xxl.Resize "1400x q80 webp" }}
  {{ $webp_l := $webp_xl.Resize "1000x q80 webp" }}
  {{ $webp_m := $webp_l.Resize "800x q80 webp" }}
  {{ $webp_s := $webp_l.Fill "600x600 center q80 webp" }}

  {{ $webp_src_set = (print $webp_s.RelPermalink " 600w" ", " $webp_m.RelPermalink " 800w" ", "  $webp_l.RelPermalink " 1000w" ", "  $webp_xl.RelPermalink " 1400w" ", "  $webp_xxl.RelPermalink " 1800w") }}

  <picture>
      <source sizes="100vw" srcset="{{ $webp_src_set }}" type="image/webp" >
      <source sizes="100vw" srcset="{{ $jpg_src_set }}" type="image/jpg" >
      <img sizes="100vw" loading="lazy"
          src="{{ $ctaimage.RelPermalink }}" width="{{ $ctaimage.Width }}" height="{{ $ctaimage.Height }}" alt="" class="cta__image">
  </picture>
    
  <div class="cta__inner">
    <div class="wrapper-md">
      <div class="cta__content text-align-center text-color-white flow">
        <div class="cta__content-inner">
          <h2 class="cta__title short-cta__title text-color-white no-margin">
            {{ .Params.cta.heading | markdownify }}
          </h2>
          <p>{{ .Params.cta.body | markdownify }}</p>
          {{ with .Params.cta.button }}
          <a href="{{ .link }}" class="btn btn-primary--rev">{{ .button_text }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>