<picture>
    <!-- <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75,width=325&height=250 400w, https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=600&height=450 600w, https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=800&height=525 800w" type="image/avif">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75,width=325&height=250 400w, https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=600&height=450 600w, https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=800&height=525 800w" type="image/webp">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75,width=325&height=250 400w, https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=600&height=450 600w, https://milksource.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=800&height=525 800w" type="image/jpeg"> -->

    <img src="{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="600" height="450">   
</picture>
