<section class="cta block" aria-label="Call to Action">
    <div class="wrapper-lg columns gap-lg">
        <div class="accent-line col">
            <div class="wrapper-sm flow">
                <h2>{{ .cta_left.heading }}</h2>
                <p>{{ .cta_left.body | markdownify }}</p>
                {{ if .cta_left.button.button_url }}
                    <a class="btn btn--primary" href="{{ .cta_left.button.button_url }}" {{ if .cta_left.open_in_new_tab }}target="_blank"{{ end }}>{{ .cta_left.button.button_text }}</a>
                {{ end }}
            </div>
        </div>
        <div class="accent-line col">
            <div class="wrapper-sm flow">
                <h2>{{ .cta_right.heading }}</h2>
                <p>{{ .cta_right.body | markdownify }}</p>
                {{ if .cta_right.button.button_url }}
                    <a class="btn btn--primary" href="{{ .cta_right.button.button_url }}" {{ if .cta_right.open_in_new_tab }}target="_blank"{{ end }}>{{ .cta_right.button.button_text }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
  