.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-black {
  background-color: $black;
}

.bg-gray {
  background-color: $light-gray;
}

.bg-white {
  background-color: $white;
}

.bg-accent {
  background-color: $secondary-color;
}
