.gap-sm {
  gap: clamp($ic--200, 5vw, $ic-200);
}

.gap-md {
  gap: clamp($ic--100, 5vw, $ic-400);
}

.gap-lg {
  gap: clamp($ic-100, 5vw, $ic-600);
}

.gap-xl {
  gap: clamp($ic-200, 5vw, $ic-800);
}

.gap-xxl {
  gap: clamp($ic-300, 5vw, $ic-1000);
}